#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#pokedex-heading{
  margin: 0 auto;
  letter-spacing: 5px ;
  position: absolute;
  top: 0px;
  left: 650px;
}
.outer-pokedex{
  display: flex;
  flex-direction: column;
}
a:visited{
  color: black;
}
